.btn{
	display: inline-block;
	background-color: $black;
	width: 140px;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	color: $white;
	border: none;
	font-size: 14px;
	transition:.4s;
	&--big{
		width: 100%;
		margin-top: 30px;
	}
	&--small{
		width: 80px;
		box-sizing: border-box;
		text-transform: uppercase;
		padding: 15px 15px;

	}
	&--pagination{
		width: 40px;
		line-height: 10px;
		height: 40px;
		box-sizing: border-box;
	}
}
.btn:hover,.btn:hover {
	background-color: #663D15;
}