@keyframes bounce {
	0% {transform:translateY(-500px) translateX(-50%);}
	50% {transform:translateY(40px) translateX(-50%);}
	100% {transform:translateY(0px) translateX(-50%);}
}
@keyframes bounce_revert {
	0% {transform:translateY(0px) translateX(-50%);}
	80% {transform:translateY(100px) translateX(-50%);}
	100% {transform:translateY(-500px) translateX(-50%);}
}

@keyframes dribble {
	20% {transform:translateX(-55%);}
	40% {transform:translateX(-45%);}
	60% {transform:translateX(-53%);}
	80% {transform:translateX(-43%);}
	100% {transform:translateX(-50%);}
}
