.main-price {
	&__block{
		display: flex;
		
	}
	&__left-block {
		
		margin-right: 80px;
	}
	.product-information--include{
		margin-bottom: 50px;
		padding-right: 100px;
		.product-information--include-list-item{
			margin-bottom: 20px;
			
		}
	}
	.product-information--about {
		margin-bottom: 0;
		
		.availability {
			text-transform: uppercase;
			font-size: 24px;
			
		}
	}
	&__h1 {
		margin-bottom: 70px;
		font-size: 48px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
	}
	&__h1:before,
	&__h1:after{
		content: "";
		position: absolute;
		height: 2px;
		background-color: #000;
		width: 160px;
		top: 50%;
	}
	&__h1:before {
		left:0px;
		
	}
	&__h1:after {
		right: 0;
	}
	.include-h3 {
		text-transform: uppercase;
		
	}
	table {
		width: 460px;
		height: 120px;
		border: 2	px solid;
		margin-bottom: 130px;
		tr {
			border: 2px solid;
		}
		td {
			border: 2px solid;
			padding: 10px 0px 10px 15px;
			    width: 50%;
		}
		td:last-child{
			text-align: center;
		}
		
	}
	.text {
			text-transform: uppercase;
		}
}