.main-footer{
	background-color:$grey-light;
	padding-top: 60px;
	padding-bottom: 40px;


	&__contacts, &__social, &__copy{
	width: 33%;
	box-sizing: border-box;
	display: inline-block;
	}
	&__contacts{
		color: $white;
		a{
			color: $white;
		}
	}
	&__social{
		text-align: center;
		vertical-align: top;
	}

	&__copy{
		text-align: right;
		vertical-align: top;
		p{
			margin-bottom: 20px;
		}
	}
	&__copy-wrapper{
		text-align: center;
		display: inline-block;
	}
}