@import "variables.scss";
@import "fonts.scss";
@import "reset.scss";
@import "general.scss";
@import "type.scss";
@import "keyframes.scss";
@import "index.scss";
@import "container.scss";
@import "main-header.scss";
@import "main-nav.scss";
@import "logo.scss";
@import "advantages.scss";
@import "title.scss";
@import "index-block.scss";
@import "btn.scss";
@import "main-footer.scss";
@import "social.scss";
@import "enter-form.scss";
@import "item.scss";
@import "item-header.scss";
@import "item-main-block.scss";
@import "gallery.scss";
@import "main-price.scss";
